/* Genel stiller */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    padding: 10; /* Burada padding değerini piksel olarak belirtmek gerekir, örneğin: padding: 10px; */
    margin: 0; /* Tarayıcıların varsayılan kenar boşluğunu kaldırmak için */
}

.container {
    text-align: center; /* İçeriği merkezde hizalamak için */
    padding: 20px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.flag-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flag {
    background-size: contain;
    background-position: center;
    cursor: pointer;
    width: 150px; /* Sabit bir genişlik belirleyerek mobil cihazlarda kontrolü sağlayabiliriz */
    height: auto; /* Bayrakların yüksekliği otomatik ayarlanacak */
    margin: 5px; /* Bayraklar arasındaki boşluk */
}

/* Orta konteyner içindeki bayraklar */
.medium-container .flag {
    width: 100%; /* Orta konteynerdaki bayrakların genişliği */
    height: auto; /* Orta konteynerdaki bayrakların yüksekliği */
}

/* Küçük konteyner içindeki bayraklar */
.small-container .flag {
    width: 100%; /* Küçük konteynerdaki bayrakların genişliği */
    height: auto; /* Küçük konteynerdaki bayrakların yüksekliği */
}

/* Medya sorguları */
@media only screen and (min-width: 600px) {
    /* Tablet ve büyük ekranlar için stiller buraya */
    .big-container {
        width: 70%;
        max-width: 600px; /* Ekleyeceğimiz max-width değeri */
    }
    .medium-container,
    .small-container {
        width: 50%;
    }
}

@media only screen and (max-width: 599px) {
    /* Mobil cihazlar için stiller buraya */
    .big-container .flag {
        max-width: 50%; /* Bayraklar ekran genişliğine sığacak şekilde ayarlanacak */
    }
    .big-container {
        width: 100%; /* .big-container ekran genişliğine tam olarak genişleyecek */
        max-width: none; /* Herhangi bir maksimum genişlik sınırlaması kaldırılacak */
    }
    .medium-container,
    .small-container {
        width: 100%; /* Diğer konteynerlar da ekran genişliğine tam olarak genişleyecek */
    }
}
