body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    text-align: center;
    padding: 20px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.flag-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flag {
    background-size: contain;
    background-position: center;
    cursor: pointer;
    margin: 5px; /* Bayraklar arasındaki boşluk */
}

.big-flag {
    width: 200px; /* En büyük bayrak boyutu */
    height: 120px;
}

.medium-flag {
    width: 150px; /* Orta boy bayrak boyutu */
    height: 90px;
}

.small-flag {
    width: 100px; /* Küçük boy bayrak boyutu */
    height: 60px;
}


@media only screen and (max-width: 768px) {
    /* Tablet ve mobil cihazlar için stiller buraya */
    .big-container,
    .medium-container,
    .small-container {
        width: 100%; /* Konteynerlerin tam genişlikte olması */
        max-width: none; /* Maksimum genişlik sınırlaması kaldırılacak */
    }
    .flag {
        width: 50%; /* Mobil cihazlarda bayrakların yarısı genişlikte */
        max-width: 150px; /* Maksimum genişlik belirleme */
    }
    .small-flag {
        width: 40%; /* Küçük bayrakların genişliği yüzde olarak belirlendi */
    }
}
