/* Genel stiller */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container {
    text-align: center;
    padding: 20px;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.flag-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flag {
    background-size: contain;
    background-position: center;
    cursor: pointer;
    width: 100%; /* Bayrakların genişliği */
    height: auto; /* Bayrakların yüksekliği otomatik ayarlanacak */
    margin: 5px; /* Bayraklar arasındaki boşluk */
}

/* Büyük konteyner içindeki bayraklar */
.big-container .flag {
    max-width: 100%; /* Büyük konteynerdaki bayrakların maksimum genişliği */
}

/* Orta konteyner içindeki bayraklar */
.medium-container .flag {
    max-width: 33%; /* Orta konteynerdaki bayrakların maksimum genişliği */
}

/* Küçük konteyner içindeki bayraklar */
.small-container .flag {
    max-width: 20%; /* Küçük konteynerdaki bayrakların maksimum genişliği */
}

/* Medya sorguları */
@media only screen and (max-width: 768px) {
    /* Tablet ve mobil cihazlar için stiller buraya */
    .big-container,
    .medium-container,
    .small-container {
        width: 100%; /* Konteynerlerin tam genişlikte olması */
        max-width: none; /* Maksimum genişlik sınırlaması kaldırılacak */
    }
}
